
.wrapper{
  min-height:500px;

.topButtonsWrappr{
  max-width: 1300px;
  margin: 0 auto;

  div{
    max-width: 80%;
    margin: 0 auto;
  }

  @media (max-width: 768px) {
    max-width:100%;
  }

  input {
    border:solid 1px #e7eaec;
    border-radius: 0px;
    color:black;
  }

 a#dropdownMenuLink{
   border-radius: 0;
   background: white;
   border: solid 1px #e7eaec;
   color: #232222;
   font-weight: 400;
}

  button{
    background: white;
    border: solid 1px #e7eaec;
    color: #232222;
    font-weight: 400;

    &.add{
      background: #b7d9a9;
    }
  }
}

  .itemWrapper {
    max-width: 1300px;
    margin: 0 auto;
    color:#66696b;

    &>.row{

    }

    .row{
      transition: all 0.5s ease;

      &.buttonsWrapper{
        padding: 0;
        border-radius: 1px;
        margin: 0;
        background: white;
        cursor: pointer;
        right: 0;
        width: 100%;
        position: relative;
        right: -20px;
        max-height: 40px;

        @media (max-width: 768px) {
          bottom: initial;
          position: relative;
          right:  initial;
          max-height:  initial;
        }

      }

       &.viewChange{
            max-width: 45% !important;
            float: left;
            position: relative;
            border: solid 1px #e7eaec;
            min-height: 160px;
            max-height: 198px;
            margin: 10px 10px;

        @media (max-width: 1224px) {
          max-width: 100% !important;
          width: 100%;

        }

          @media (max-width: 768px) {
            min-height: 100%;
            max-height: 100%;
        }



      }

      &>.posterWrapper  {

        .card-text{
          font-weight: 500;
        }

        img{
          width: 140px;
          height: 140px;
          position: relative;
          border-radius: 100px;
          background: transparent;
          overflow: hidden;

          @media (max-width: 768px) {
            max-width: 100%;
            left: 0%;
            min-width: initial;
            min-height:initial;
            max-width: initial;
            position: relative;
            height: initial;
            max-height: initial;
            width: 100%;
            height: 100%;
          }


          &.noImage{
            //background: no-repeat center url('../../../media/pics/noPicFound.png');
            background-size: cover;
          }
        }

      }

      padding: 10px;
      border: solid 0px #e7eaec;
      border-radius: 1px;
      margin: 10px auto;
      background: white;
      cursor: pointer;
      max-width: 1000px;

      button  {
        background: transparent;
        border: solid 0px black;
        color: #232222;
        font-weight: 400;

        &.deleteIcon{
          width: 10px;
          height: 26px;
          background: no-repeat center url('../../../assets/pics/sprite-icone.png');
          background-position: -448px 4px;
          float: right;
        }

        &.updateIcon{
          width: 10px;
          height: 26px;
          background: no-repeat center url('../../../assets/pics/sprite-icone.png');
          background-position: 16px -67px;
          float: right;
        }

      }


      @media (max-width: 768px) {
        max-width: 100%;
        width: 30rem;
      }

      .card-img-top {

        @media (max-width: 768px) {
          min-width: 7rem;
          min-height: initial;
          max-width: initial;
          position: initial;
          height: initial;
          max-height: initial;
          border-radius: 100px;
        }
      }

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    }


  }

}
